<link href="css/about.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <header class="hero-image">
            <div class="textOverHero"><h2><span>We Believe</span><br>
                Education should be free and accessible. The future is now and Learnify is the future of Learning.</h2>
                        </div>
        </header>
        
    </section>
    <h1 class="h1BelowHero">Meet the Team</h1>
    <section class="aboutus">

        <div class="team">
            <img class="teamImages" src=" /public/images/shaar.png" alt="">
            <h1>Shaar H.</h1>
            <p>Executive Director and Founder</p>
            <!-- <br>(Projects Manager/ 3rd Party API)</p> -->
        </div>
        <div class="team">
            <img class="teamImages" src=" /public/images/micah.jpg" alt="">
            <h1>Micah N.</h1>
            <p>Executive Director</p>
            <!-- <br>(Creating Personal 1st Party API)</p> -->
        </div>
        <div class="team">
            <img class="teamImages" src=" /public/images/reggie.jpg" alt="">
            <h1>Reggie G.</h1>
            <p>Executive Director</p>
            <!-- <br>(Creating Personal 1st Party API)</p> -->
        </div>
        <div class="team">
            <img class="teamImages" src="/public/images/pete.png" alt="">
            <h1>Pete B.</h1>
            <p>Executive Director</p>
            <!-- <br>(Frontend/Styling)</p> -->
        </div>
        <div class="team">
            <img class="teamImages" src="/public/images/jose.jpg" alt="">
            <h1>Jose P.</h1>
            <p>Executive Director</p>
            <!-- <br>(Frontend/Styling)</p> -->
        </div>
    </section>
    <section class="textBelowTeam">

<h2>
We are Learnify:
</h2>
<p>
We are a non-profit organization that provides students with the proper resources to help them advance in their education. Our goal is to offer tutoring resources for students that need additional support in science, English Literature, math, cooking, and coding. With the resources we provide, we hope to improve students opportunities for success.
</p>

</section>
<section class="section3">
    <div class="smallAbout">
        <h2>
            2022
        </h2>
        <p>
            Founded
        </p>
    </div>
    <div class="smallAbout">
        <h2>
            Professionally Trained Coaches 
        </h2>
        <p>
            Always available and ready to help!
        </p>
        
    </div>
    <div class="smallAbout">
        <h2>
            Free Education
        </h2>
        <p>
            Resources Updated Weekly
        </p>
    </div>
</section>
</section>