<link href="css/buildaplan.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <div class="heading">
            <h1 id="h1">Build A Plan</h1>
            <h2>Choose a subject to get free online resources!</h2>
        </div>
        <div class="btn-container">
            <a href="/mathresources"><button class="border btn-math btn btn-background-slide">Math</button></a>
            <a href="/englishresources"><button class="border btn btn-background-slide">English</button></a>
            <a href="/scienceresources"><button class="border btn btn-background-slide">Science</button></a>
            <a href="/codingresources"><button class="border btn btn-background-slide">Coding</button></a>
            <a href="/cookingresources"><button class="border btn-cooking btn btn-background-slide">Cooking</button></a>
        </div>
    </section>
</section>