<link href="css/index.css" rel="stylesheet">


<section class="home_container">
    <section class="main_container">
        <section class="slideshow">
            
            <img class="slide" src="/public/images/sheep.jpg" style="width:100%" alt="sheep">
            <img class="slide" src="/public/images/childReading.jpg" style="width:100%" alt="child_reading">
            <img class="slide" src="/public/images/globe.jpg" style="width:100%" alt="globe">
            <img class="slide" src="/public/images/group.jpg" style="width:100%" alt="people">
            <img class="slide" src="/public/images/justStart.jpg" style="width:100%" alt="computer">
           <div class="textOverSS"><h2><span>The Future is Now.</span><br>
    Learnify is a non-profit organization that was created to provide free and easy access education for anyone in any location.</h2>
            </div> 
        </section>
       
        
        </section>
        <h1 class="h1belowSS">Why Learnify?</h1>

        <section class="whyLearnify">

        <div class="clipart">
            <img class="bookClipart" src=" /public/images/1.png" alt="">
            <h1>Path to Success</h1>
            <p> 31% of young adults without a high school diploma live in poverty, compared to the 24% of young people who finished high school. In a recent study, 99.9% of users who have used Learnify have found our resources to be effective. Learnify is proven to be the path to success!</p>
        </div>
        <div class="clipart">
            <img class="bookClipart" src=" /public/images/2.png" alt="">
            <h1>Boosts Critical Thinking</h1>
            <p>Our content can provide you with all the challenging opportunities you may need. Education is like a puzzle that needs all the missing peices to complete it. And maybe that missing puzzle piece can be found right here on Learnify! Start your challenge today and see for yourself!</p>
        </div>
        <div class="clipart">
            <img class="bookClipart" src="/public/images/3.png" alt="">
            <h1>Sparks For Creativity</h1>
            <p>Created by experts, Learnify has all the different resourses you can use to spark your creativity. Learn the fundamentals of coding, or expand your knowledge in English literacy, or even learn how to cook. Spark your creativity by learning something new!</p>
        </div>
        <div class="clipart">
            <img class="bookClipart" src=" /public/images/4.png" alt="">
            <h1>Fundamentals in Literature</h1>
            <p>More than 30 million children are growing up in poverty in the U.S. In one low-income community, there was only one book for every 300 children. Our goal is to have easy access resources for anyone who needs help in literacy!</p>
        </div>
        <div class="clipart">
            <img class="bookClipart" src="/public/images/5.png" alt="">
            <h1>Open Learning Resources</h1>
            <p>Our open resources enables anyone from anywhere in the world to access education that they need. You as the user have access and control over what you are learning at anytime and from anywhere.</p>
        </div>
        <div class="clipart">
            <img class="bookClipart" src="/public/images/6.png" alt="">
            <h1>Tools to Empower Your Knowledge!</h1>
            <p>With Learnify, you can identify the gaps in your own understanding by using the available tools to meet your educational needs.</p>
        </div>
    </section>


    <h2 style="text-align:center;font-size:30px;">Learnify is dedicated to help you find the right resources!</h2>

    <section class="findResources">
<div>
<p>

To find additional educational resources near you click the button below.
</p>

<a href="learnnearyou"><button>Learn Near You!</button></a>
</div>
<div>
    <img src="/public/images/insideOfLibrary.jpg">
   
</div>

    </section>
    </section>
    


<script>


var myIndex = 0;
slideshow();

function slideshow() {
  var i;
  var x = document.getElementsByClassName("slide");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(slideshow, 3000); // Change image every 3 seconds
}
</script>



