<section class="home_container">

    <h1>Welcome to Learnify</h1>
    <style>
        .home_container {
            max-width: 1300px;
            height: 100vh;
            margin: 2em;

        }
    </style>
</section>