<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnify</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/british-council-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Header -->
    <section class="top_container">
        <section class="header">
            <section class="nav">
                <section class="logo_container">
                    <h1 class="logo_text"><a class="learnify" href="/">Learnify</a></h1>
                    <small class="motto">The Future of Learning</small>
                </section>
                <ul class="navbar_ul">
                    <li class="nav_link"><a class="nav_a" href="/">Home</a></li>
                    <li class="nav_link"><a class="nav_a" href="/learnnearyou">Learn Near You</a></li>
                    <li class="nav_link"><a class="nav_a" href="buildaplan">Build A Plan</a></li>
                    <li class="nav_link"><a class="nav_a" href="/theteam">The Team</a></li>
                    <li class="nav_link"><a class="nav_a" href="/about">About Us</a></li>
                </ul>
            </section>
        </section>
    </section>
    <!-- End Header -->


    <%- body %>

    <!-- Footer -->
    <footer>
        <footer>
            <style>
                @font-face {
                font-family: 'SpaceMonoBold';
                src: url('SpaceMono-Bold.ttf')
                } 
        
                footer {
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    background-color: transparent;
                }
        
                .socials {
                    display: flex;
                    list-style: none;
                    text-decoration: none;
                }
        
                .socials a {
                    text-decoration: none;
                    padding: 1em;
                    font-size: 2em;
                    color: black;
                    transition: all 0.4s;
                }
        
                .socials a:visited {
                    color: black;
                    text-decoration: none;
                }
        
                .socials a:hover {
                    transform: translate(0px, -10px);
                }
                .copyright {
                    font-size: 1em;
                    font-family: 'SpaceMonoBold';
                }
                
            </style>
            <small class="copyright">© Copyright Learnify 2022</small>
            <ul class="socials">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
                <li><a href="#" class="fa fa-snapchat"></a></li>
            </ul>
        </footer>
    </footer>
    <!-- End Footer -->
</body>
</html>