<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnify</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/british-council-sans" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <section class="top_container">
        <section class="header">
            <section class="nav">
                <section class="logo_container">
                    <h1 class="logo_text"><a class="learnify" href="/">Learnify</a></h1>
                    <small class="motto">The Future of Learning</small>
                </section>
                <ul class="navbar_ul">
                    <li class="nav_link"><a class="nav_a" href="#">Home</a></li>
                    <li class="nav_link"><a class="nav_a" href="#">Learn Near You</a></li>
                    <li class="nav_link"><a class="nav_a" href="#">Build A Plan</a></li>
                    <li class="nav_link"><a class="nav_a" href="#">The Team</a></li>
                    <li class="nav_link"><a class="nav_a" href="#">About Us</a></li>
                </ul>
            </section>
        </section>
    </section>
    <!-- End Header -->


    <%- body %>

    <!-- Footer -->
    <footer>
        
    </footer>
    <!-- End Footer -->
</body>
</html>