<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnify</title>
    <link href="css/layout.css" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/british-council-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Header -->
    <section class="top_container">
        <section class="header">
            <section class="nav">
                <section class="logo_container">
                    <h1 class="logo_text"><a class="learnify" href="/">Learnify</a></h1>
                    <small class="motto">The Future of Learning</small>
                </section>
                <!--  mobile responsive nav - Jose -->
                <section class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </section>
              <section class="navbar-links">
                <ul class="navbar_ul">
                    <li class="nav_link"><a class="nav_a" href="/">Home</a></li>
                    <li class="nav_link"><a class="nav_a" href="/learnnearyou">Learn Near You</a></li>
                    <li class="nav_link"><a class="nav_a" href="buildaplan">Resources</a></li>
                    <li class="nav_link"><a class="nav_a" href="/studyplan">Build A Plan</a></li>
                    <li class="nav_link"><a class="nav_a" href="/theteam">Contact Team</a></li>
                    <li class="nav_link"><a class="nav_a" href="/about">About Us</a></li>
                </ul>
            </section>
            </section>
        </section>
    </section>
    <!-- End Header -->



    <section class="main_body_container">
        <section class="body_container">

            <%- body %>

        </section>
    </section>



    <!-- Footer -->
        <footer>
            <section class="footer_container">
                <ul class="footer_ul">
                    <li class="foot_link"><a class="foot_a" href="https://github.com/5haar" target="_blank"><img src="/public/images/githubicon.png">Shaar</a></li>
                    <li class="foot_link"><a class="foot_a" href="https://github.com/manorrington" target="_blank"><img src="/public/images/githubicon.png">Micah</a></li>
                    <li class="foot_link"><a class="foot_a" href="https://github.com/Jportillososa" target="_blank"><img src="/public/images/githubicon.png">Jose</a></li>
                    <li class="foot_link"><a class="foot_a" href="https://github.com/Reggie-Duz-It" target="_blank"><img src="/public/images/githubicon.png">Reggie</a></li>
                    <li class="foot_link"><a class="foot_a" href="https://github.com/Petebran3" target="_blank"><img src="/public/images/githubicon.png">Pete</a></li>
                </ul>
                <ul class="socials">
                    <li><a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a></li>
                    <li><a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a></li>
                    <li><a href="https://www.instagram.com" class="fa fa-instagram" target="_blank"></a></li>
                    <li><a href="https://www.snapchat.com" class="fa fa-snapchat" target="_blank"></a></li>
                </ul>
                <ul class="footer_ul">
                    <li class="foot_link"><a class="foot_a" href="/">Home</a></li>
                    <li class="foot_link"><a class="foot_a" href="/learnnearyou">Learn Near You</a></li>
                    <li class="foot_link"><a class="foot_a" href="buildaplan">Resources</a></li>
                    <li class="foot_link"><a class="foot_a" href="/studyplan">Build A Plan</a></li>
                    <li class="foot_link"><a class="foot_a" href="/theteam">Contact Team</a></li>
                    <li class="foot_link"><a class="foot_a" href="/about">About Us</a></li>
                </ul>
            </section>
            <small class="copyright">© Copyright Learnify 2022</small>
        </footer>
    <!-- End Footer -->
    <script>

const toggleButton = document.getElementsByClassName('toggle-button')[0]
const navbarLinks = document.getElementsByClassName('navbar-links')[0] 

toggleButton.addEventListener('click', () => { 
    navbarLinks.classList.toggle('active') 
})
    </script>
</body>
</html>