<link href="css/learnnearyou.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <section class="text_container">
            <h1 class="title">Learn Near You!</h1>
            <br>
            <small class="description">Use the buttons below to search for educational resources located nearby.</small>
        </section>
        <section class="map_section">
            <section class="buttons">
                    <a href="/tutoring near me"><button class="location_link">Tutoring</button></a>
                    <a href="/educational organizations near me"><button class="location_link">Organizations</button></a>
                    <a href="/museums near me"><button class="location_link">Museums</button></a>
                    <a href="/libraries near me"><button class="location_link">Libraries</button></a>
                    <a href="/institutions near me"><button class="location_link">Institutions</button></a>
                    <a href="/reset"><button class="location_link_reset">Reset</button></a>
            </section>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Select Resources:</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/tutoring near me">Tutoring</a>
                    <a href="/educational organizations near me">Organizations</a>
                    <a href="/museums near me">Museums</a>
                    <a href="/libraries near me">Libraries</a>
                    <a href="/institutions near me">Institutions</a>
                    <a href="/reset">Reset</a>
                </div>
              </div>
            <iframe class="locationmap" style="border:0" loading="lazy" allowfullscreen src="<%= dynamicsrc %>"></iframe>   
        </section>
    </section>
</section>

<script>
    // Dropdown Menu For Mobile Responsiveness
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>