<link href="css/learnnearyou.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <h1>Learn Near You!</h1>
        <small class="description">Use the buttons below to search for educational resources near you.</small>
        <section class="map_section">
            <section class="buttons">
                    <a href="/tutoring"><button class="location_link">Tutoring</button></a>
                    <a href="/clubs"><button class="location_link">Clubs</button></a>
                    <a href="/museums"><button class="location_link">Museums</button></a>
                    <a href="/libraries"><button class="location_link">Libraries</button></a>
                    <a href="/institutions"><button class="location_link">Institutions</button></a>
            </section>
            <iframe class="locationmap" style="border:0" loading="lazy" allowfullscreen src="<%= dynamicsrc %>"></iframe>   
        </section>
    </section>
</section>