<link href="css/math.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <h1>Resources</h1>
        <h2>MATH</h2>
        <div class="container1">
            <ul>
                <% math.forEach(data => { %>
                <li id="move"><%= data.title %></li>
                <li><%= data.description %></li>
                <li><a href="#"><%= data.link %></a></li>
                <% }) %>
              </ul>
        </div>
    </section>
</section>