@import url('http://fonts.cdnfonts.com/css/british-council-sans');

@font-face {
    font-family: 'SpaceMonoBold';
    src: url('SpaceMono-Bold.ttf')
  } 

@font-face {
    font-family: 'SpaceMonoRegular';
    src: url('SpaceMono-Regular.ttf')
  }

:root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #00FFE1;
    --white: #FFFFFF;
    --prussianBlue: #212D40;
    --richBlack: #11151C;
    --lightCyan: #D0F4EA;
    --cadetGrey: #829399;
    --greyweb: #7E8287;
    --oldrose: #B98389;
    --aliceblue: #E1F2FE;
    --melon: #F7AF9D;
    --puce: #C08497;
    --maxbluegreen: #75B9BE;
  }
  .home_container{
    font-family: 'SpaceMonoRegular';
    src: url('SpaceMono-Regular.ttf');
    }
.main_container {
    width: 100%;
    height: 60vh;
}


.hero-image {
  background-image: linear-gradient(rgba(4, 9, 0, 0.7), rgba(4, 9, 0, 0.5)), url("/public/images/book_stacks.jpg");
  min-height: 50vh;
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border-bottom: 5px solid #030303;
  width:100%;
  border-radius: 5px;
}
.textOverHero span{
  font-size: 2em;
}
.textOverHero{
  margin: 1em;
  text-align: center;
  top:5vh;
  color:var(--aliceblue);
}
.textOverHero h2{
font-size:2em;
padding-left: 4em;
padding-right:4em;
}
.aboutus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
}
.h1BelowHero{
  text-align:center;
  font-size:2em;
}
.team {
  background-color:transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  /* box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s; */
}
.teamImages{
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.team h1{
  font-size: 1em;
  font-weight: bolder;
}
.team p {
  color: black;
  font-size: .8em;
  font-weight: bold;
  width: 250px;
  text-align: center;
  padding-top:.5em;
  font-weight: 900;
}
.textBelowTeam{
  display: grid;
  grid-template-columns: 1fr;
  margin:8em;
  text-align:center;
}
.textBelowTeam h2{
  margin-bottom:1em;
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
  margin-bottom: 3em;;
}
.smallAbout {
  background-color:var(--maxbluegreen);
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 5px;
  box-shadow:
      1px 2px 2px var(--cadetGrey),
      2px 4px 4px var(--cadetGrey),
      4px 8px 8px var(--cadetGrey),
      8px 16px 16px var(--cadetGrey),
      16px 32px 32px var(--cadetGrey);
}
.smallAbout h1{
  font-size: 1em;
  font-weight: bolder;
}
.smallAbout p {
  color: black;
  font-size: .8em;
  font-weight: bold;
  width: 250px;
  text-align: center;
  padding-top:.5em;
  font-weight: 900;
}
@media screen and (max-width: 800px) {
  .aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section3{
    grid-template-columns: 1fr 1fr;
  }
  .textOverHero span{
    font-size: 40px;;
  }
  .textOverHero h2{
    font-size:30px;
    padding-left: 2em;
    padding-right:2em;
    }
}
@media screen and (max-width: 600px) {
  .aboutus {
    display: grid;
    grid-template-columns: 1fr;
  }

  .findResources{
    display: grid;
    grid-template-columns: 1fr;
  
  }
  .section3{
    grid-template-columns: 1fr;
  }
  .textOverHero span{
    font-size: 30px;
  }
  .textOverHero h2{
    font-size:20px;
    padding-left: 4em;
    padding-right:4em;
    }
}
@media screen and (max-width: 375px){
  .main_container{
    max-width:375px;
  }
  .textOverHero span{
    font-size: 20px;
  }
  .textOverHero h2{
    font-size:20px;
    padding-left: 0em;
    padding-right:0em;
    }
    .textBelowTeam{
      margin:4em;
    }

}





