@import url('http://fonts.cdnfonts.com/css/british-council-sans');

@font-face {
    font-family: 'SpaceMonoBold';
    src: url('SpaceMono-Bold.ttf')
  } 

@font-face {
    font-family: 'SpaceMonoRegular';
    src: url('SpaceMono-Regular.ttf')
  }

:root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #00FFE1;
    --white: #FFFFFF;
    --prussianBlue: #212D40;
    --richBlack: #11151C;
    --lightCyan: #D0F4EA;
    --cadetGrey: #829399;
    --greyweb: #7E8287;
    --oldrose: #B98389;
    --aliceblue: #E1F2FE;
    --melon: #F7AF9D;
    --puce: #C08497;
    --maxbluegreen: #75B9BE;
  }

.main_container {
    width: 70vw;
    height: 100vh;
    margin: 2em;
    font-family: 'SpaceMonoRegular', sans-serif;
    position: relative;
}

.heading {
  text-align: center;
  position: relative;
}

#h1 {
  text-align: center;
  font-size: 3em;
}

button {
  margin: 1em;
}

.btn {
  background-color: var(--background-color);
  color: #222;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.30);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  font-family: 'SpaceMonoRegular', sans-serif;
  font-size: 2em;
  --background-color: #E1F2FE;
  --border-size: 2px;
  --accent-color: #75B9BE;
  width: 12vw;
  height: 6vw;
  text-align: center;
}

.border {
  border: #212D40 1px solid;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn.btn-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  transform: scaleX(1);
}

.btn.btn-background-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
}


.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
  color: white;
  /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.40); */
}

@media all and (min-width: 800px) {
  .dropdown {
      display: none;
  }
}

@media all and (max-width: 800px) {
  .main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .btn-container {
    display: none;
  }
  /* Dropdown Button source: https://www.w3schools.com/howto/howto_js_dropdown.asp */
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 1em;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd}

  .show {display:block;}
}