@import url('http://fonts.cdnfonts.com/css/british-council-sans');

@font-face {
    font-family: 'SpaceMonoBold';
    src: url('SpaceMono-Bold.ttf')
  } 

@font-face {
    font-family: 'SpaceMonoRegular';
    src: url('SpaceMono-Regular.ttf')
  }

:root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #00FFE1;
    --white: #FFFFFF;
    --prussianBlue: #212D40;
    --richBlack: #11151C;
    --lightCyan: #D0F4EA;
    --cadetGrey: #829399;
    --greyweb: #7E8287;
    --oldrose: #B98389;
    --aliceblue: #E1F2FE;
    --melon: #F7AF9D;
    --puce: #C08497;
    --maxbluegreen: #75B9BE;
  }
.home_container{
  font-family: 'SpaceMonoRegular';
  src: url('SpaceMono-Regular.ttf')
}

.main_container {
    width: 70vw;
    height: 50vw;
}

.slideshow{
  text-align: center;
  max-height: 500px;
  position:relative;
  padding-top:2em;
}

.textOverSS span{
  font-size: 5vw;
}

.textOverSS{
  margin: 1em;
  text-align: center;
  position:absolute;
  top:5vh;
  color:var(--aliceblue);
  font-size:2w;
}

.slide{
display:none;
width:100%;
height:100%;
filter: brightness(0.4);
border-radius: 5px;
}

.h1belowSS{
  text-align:center;
  font-size:60px;
}

.whyLearnify {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 5em;
  text-align: center;
}

.bookClipart{
  width: 250px;
  height:250px;
}
.clipart {
  background-color:transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  /* box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s; */
  max-width: 250px;
}
.clipart h1{
  font-size: 1em;
  font-weight: bolder;
}
.clipart p {
  color: black;
  font-size: .8em;
  font-weight: bold;
  width: 250px;
  text-align: center;
  padding-top:.5em;
  font-weight: 900;
}

.findResources{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 5em;
  text-align: center;
  position:relative;
  left:0;
  margin-bottom: 30px;
  background-color:transparent;
}
.findResources div p{
font-size: 1.5em;
}

.bottom_img {
  width: 100%;
  height: 250px;
}

.dedicated_statement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

button{
font-family: 'SpaceMonoRegular', sans-serif;
color: var(--richBlack);
transition: all 0.4s;
border-radius: 5px;
text-align: center;
box-shadow:
  1px 2px 2px var(--maxbluegreen),
  2px 4px 4px  var(--maxbluegreen),
  3px 6px 6px  var(--maxbluegreen);
  width: 10em;
    height: 3.5em;
    margin: 1em;
}
button:hover {
  cursor: pointer;
  box-shadow:
    1px 2px 2px var(--maxbluegreen),
    2px 4px 4px var(--maxbluegreen),
    4px 8px 8px var(--maxbluegreen),
    8px 16px 16px var(--maxbluegreen),
    16px 32px 32px var(--maxbluegreen);
}

@media screen and (max-width: 800px) {
  .whyLearnify {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .slideshow{
    text-align: center;
    max-height: 500px;
    position:absolute;
    padding-top:0em;
    left:0;
  }
  .h1belowSS{
    margin-top:100px;
  }
  .textOverSS span{
    font-size: 30px;
  }
  .textOverSS{
    font-size:15px;
  }
}
@media screen and (max-width: 600px) {
  .whyLearnify {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
  }

  .findResources{
    display: grid;
    grid-template-columns: 1fr;
  
  }
  .textOverSS span{
    font-size: 40px;
  
  }
  .textOverSS{
    top:4vh;
    font-size: 0.5em;
  }

  .dedicated_statement {
    font-size: 1em;
    text-align: center;
    margin: 1em;
    font-family: "SpaceMonoBold";
  }

  .bottom_img {
    display: none;
  }

  .slideshow {
    margin: 1em;
  }
}