@import url('http://fonts.cdnfonts.com/css/british-council-sans');

@font-face {
    font-family: 'SpaceMonoBold';
    src: url('SpaceMono-Bold.ttf')
  }

@font-face {
    font-family: 'SpaceMonoRegular';
    src: url('SpaceMono-Regular.ttf')
  }   

:root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #00FFE1;
    --white: #FFFFFF;
    --prussianBlue: #212D40;
    --richBlack: #11151C;
    --lightCyan: #D0F4EA;
    --cadetGrey: #829399;
    --greyweb: #7E8287;
    --oldrose: #B98389;
    --aliceblue: #E1F2FE;
    --melon: #F7AF9D;
    --puce: #C08497;
    --maxbluegreen: #75B9BE;
  }

.main_container {
    width: 70vw;
    height: 100vh;
    margin: 2em;
    font-family: 'SpaceMonoRegular', sans-serif;
}

.title {
    font-size: 3em;
}

.text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
}

.locationmap {
    height: 45vh;
    width: 100%;
    border-radius: 4px;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
      1px 2px 2px var(--maxbluegreen),
      2px 4px 4px var(--maxbluegreen),
      3px 6px 6px var(--maxbluegreen);
}

button {
    font-family: 'SpaceMonoRegular', sans-serif;
    color: var(--richBlack);
    transition: all 0.4s;
    border-radius: 5px;
    text-align: center;
    box-shadow:
      1px 2px 2px var(--maxbluegreen),
      2px 4px 4px var(--maxbluegreen),
      3px 6px 6px var(--maxbluegreen);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location_link {
    width: 10em;
    height: 3.5em;
    margin: 1em;
}

.location_link_reset {
    width: 10em;
    height: 3.5em;
    margin: 1em;
    background-color: var(--richBlack);
    color: var(--aliceblue);
}


button:hover {
    cursor: pointer;
    background-color: var(--richBlack);
    color: var(--aliceblue);
}


