@import url('http://fonts.cdnfonts.com/css/british-council-sans');

@font-face {
    font-family: 'SpaceMonoBold';
    src: url('SpaceMono-Bold.ttf')
  } 

@font-face {
    font-family: 'SpaceMonoRegular';
    src: url('SpaceMono-Regular.ttf')
  }

:root {
    --grey: #2F2F2F;
    --eerieblack: #222222;
    --mainblue: #00FFE1;
    --white: #FFFFFF;
    --prussianBlue: #212D40;
    --richBlack: #11151C;
    --lightCyan: #D0F4EA;
    --cadetGrey: #829399;
    --greyweb: #7E8287;
    --oldrose: #B98389;
    --aliceblue: #E1F2FE;
    --melon: #F7AF9D;
    --puce: #C08497;
    --maxbluegreen: #75B9BE;
  }

.main_container {
    width: 70vw;
    height: 450vh;
    margin: 2em;
    font-family: 'SpaceMonoRegular', sans-serif;
}

.rs-link {
  text-decoration: none;
  color: inherit;
}

.rs-link:hover {
  color: #75B9BE;
}

ul {
  list-style: none;
}

.webhead {
  font-size: 27px;
  font-family: 'SpaceMonoRegular';
}

.webhead:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #75B9BE;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  width: 50%;
}

.grid-item {
  padding: 50px;
}

.two {
    position: relative;
    top: 65px;
}

.three {
    position: relative;
    top: 175px;
}

.four {
    position: relative;
    top: 325px;
}

.five {
    position: relative;
    top: 440px;
}

.six {
    position: relative;
    top: 475px;
}

.seven {
    position: relative;
    top: 475px;
}

.eight {
    position: relative;
    top: 475px;
}

.nine {
    position: relative;
    top: 500px;
}

.ten {
    position: relative;
    top: 550px;
}

.link {
  padding-top: 10px;
  font-weight: bold;
}

.grid-container1{
  display: grid;
  grid-template-columns: auto;
  padding: 5px;
  float: left;
  position: absolute;
  top: 375px;
}

.grid-container1 > .grid-item {
  padding: 10px;
}

.weblogo {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  padding-bottom: 20px;
}

.add {
  padding-top: 40px;
}

.sub {
  padding-bottom: 5px;
}

.spec {
  padding-top: 20px;
}

.more {
  padding-top: 50px;
}

.more1{
  padding-top: 80px;
}

@media only screen and (max-width: 650px){
  .weblogo {
      display: none;
  }
}